*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif; 
}
main{
	width: 100%;
	height: auto;
	background-color: #34495E;
	position: absolute;
	list-style: none;
}
.content-all{
	width: 100%;
	height: 1000px;
	max-width: 1000px;
	
	margin: auto;
	margin-top: 80px;
	padding: 40px;
	position:
	z-index:10;
	list-style: none;

}
header{
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #D8761D;
	border: 2px solid black;
	
}
#check{
	display: none;
	background:#D8761D;
	list-style: none;
}
#check:checked ~ .menu{
	width: 400px;
	

}
.menu{
	position: fixed;
	top: 60px;
	width: 0px;
	height: 100vh;
	background-color:#D8761D;
	transition: all 300ms;
	overflow: hidden;
	
	
}
.menu li{

	padding: 25px;
	color: white;
	cursor: pointer;
	transition: 300ms;
	display: block;
	width: 400px;
}
.menu li:hover{
	background:rgba(0,0,0,0.2);
	border-bottom: 1px solid black;

	
}
.menu ul{
	list-style: none;

}
article{
	padding: 40px;
	background:#0000ff;
}
.content-all label{
	position: fixed;
	width: 100%
	max-width:1000px;
	top: 14px;
	font-size: 26px;
	cursor: pointer;
	z-index: 30;
	color: white;
}
.content-all h2{
	position: fixed;
	width: 100%;
	max-width: 1000px;
	top: 14px;
	font-size: 26px;
	text-align: right;
	color: white;
}
div#logo img{
	width: 60px;
	height: 50px;
	position: relative;
	left: 150px;
	top: -2px;
	cursor: pointer;

}
div#droc img{
	width: 250px;
	height: 120px;
	position: absolute;
	top: 178px;
	left: 200px;
	border: 2px solid black;
}
div#droco img{
	width: 250px;
	height: 120px;
	position: absolute;
	top: 178px;
	left: 900px;
	border: 2px solid black;
}

#contenedor {
	width: 500px;
	padding: 0px;
	
	margin: 0px auto;
	overflow:hidden;
	position: relative;
	top: 60px;

}
#contenedor ul {
	
	width: 2800px;
display: flex;
border:4px solid black;
	animation: slide 20s infinite alternate;
	background-color: #0000ff;

}
@keyframes slide {
	0% {margin-left: 0px;}
	25% {margin-left: 0px;}

	25% {margin-left: -500px;}
	40% {margin-left: -500px;}

}
div#capacitadores{
	position: relative;
	top: 30px;
}
div#img2 img{
	position: relative;
	left: 600px;
	top: 40px;
	margin: solid 2px black;
}
div#img1 img{
	position: relative;
	left: 600px;
	top: 10px;
	z-index: 80px;
}
div#img3 img{
	top:-50px ;
	left: 1000px;
	position: relative;
}
div#img4 img{
	top:-80px ;
	left: 250px;
	position: relative;
}
div#logo2 img{
	top: -75px;
	left: 970px;
	position:relative;
}

	

